body{
    text-align: center;
    font-size: 5rem;
    margin-top: 200px;
    background-color: rgb(185, 212, 223);
}
span{
    background-image: linear-gradient(orange,orange,orange, white, white, blue, white, white, rgba(0, 128, 0, 0.788), rgba(0, 128, 0, 0.788), rgba(0, 128, 0, 0.788));
    color:orange;
}